.players {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;

    td {
        padding: 10px;
        border: 1px solid rgba(255, 255, 255, 0.3)
    }

    td.active {
        font-weight: bold;
        color: white;
    }

    .player-scores {
        margin: 0;
        padding: 0;

        > li {
            list-style: none;
            margin-bottom: 5px;
        }
    }
}
